/**** Importing sass files ******/
@font-face {
  font-family: Gotham-Book;
  src: url("../fonts/Gotham Book.ttf");
}
/* line 6, ../sass/custom/_global.scss */
body {
  font-family: Gotham-Book;
  width: 1031px;
  margin: 0 auto !important;
  background: none !important;
  padding-top: 24px;
  background-color: #fff !important;
}
/* line 13, ../sass/custom/_global.scss */
body .content-area {
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  float: none !important;
}
/* line 20, ../sass/custom/_global.scss */
body input {
  border: 1px solid #49647e !important;
  font-family: Gotham-Book !important;
}

/**mixin***/
/* line 1, ../sass/custom/_header.scss */
.site {
  margin: 0 !important;
  background-color: #F3F3F3 !important;
}
/* line 4, ../sass/custom/_header.scss */
.site .site-header {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  background-color: #d9d9d2;
  height: 130px;
}
/* line 10, ../sass/custom/_header.scss */
.site .site-header .header-image {
  width: 20%;
  margin: 0;
  float: left;
  text-align: center;
  padding-top: 8px;
}
/* line 16, ../sass/custom/_header.scss */
.site .site-header .header-image img {
  width: 110px;
  height: 110px;
}
/* line 21, ../sass/custom/_header.scss */
.site .site-header .site-header-main {
  width: 55%;
  float: left;
}
/* line 24, ../sass/custom/_header.scss */
.site .site-header .site-header-main .main-navigation a {
  font-size: 25px !important;
  line-height: 1.7;
  font-family: Gotham-Book !important;
  color: #49647e;
}
/* line 32, ../sass/custom/_header.scss */
.site .site-header .stl_login {
  display: inline-flex !important;
  width: 25% !important;
}
/* line 36, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-trigger {
  font-size: 25px;
  margin-top: 32px;
  padding-left: 33px;
  line-height: 2.7;
}
/* line 42, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-trigger span {
  font-size: 25px;
  color: #49647e;
  font-family: Gotham-Book;
}
/* line 48, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content {
  position: absolute !important;
  z-index: 10;
}
/* line 51, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content .forgot-password {
  position: absolute;
  top: 97px;
  padding-left: 42px;
  font-size: 14px !important;
  color: #49647e !important;
}
/* line 59, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content .errors {
  left: 23%;
  position: absolute;
  top: 85%;
  color: red;
}
/* line 66, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form {
  padding-left: 25px;
  width: 100%;
  background-color: rgba(233, 233, 230, 0.9);
  padding-bottom: 2px;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 66, ../sass/custom/_header.scss */
  .site .site-header .stl_login .login-content form {
    width: 100%;
  }
}
/* line 74, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form label {
  font-size: 14px !important;
  color: #49647e !important;
}
/* line 79, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-remember label {
  color: #49647e !important;
}
/* line 83, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username {
  margin: 0 !important;
  padding-top: 8px !important;
  width: 85%;
}
/* line 87, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username label {
  display: none !important;
}
/* line 90, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username input {
  padding: 0px !important;
  width: !important;
  background: #d9d9d9 none repeat scroll 0 0;
  border-color: #49647e;
  height: 25px;
}
/* line 98, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password {
  padding-top: 5px;
  margin: 0;
}
/* line 101, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password label {
  display: none !important;
}
/* line 104, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password input {
  padding: 0px !important;
  width: 85% !important;
  border-color: #49647e;
  height: 25px;
  background-color: #d9d9d2;
}
/* line 112, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-submit {
  padding-left: 11px;
  padding-top: 4px;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 112, ../sass/custom/_header.scss */
  .site .site-header .stl_login .login-content form .login-submit {
    padding-left: 0;
  }
}
/* line 118, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-submit .button-primary {
  height: 35px;
  line-height: 0 !important;
  width: 150px;
  border-radius: 18px;
  background-color: #49647e;
}
/* line 129, ../sass/custom/_header.scss */
.site .site-header .stl_login .box-shadow-menu {
  position: relative;
  height: 30px;
  background: none;
  border: none;
  width: 35px;
  cursor: pointer !important;
  margin-left: 25%;
  margin-top: 45px;
}
/* line 140, ../sass/custom/_header.scss */
.site .site-header .stl_login .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 35px;
  height: 4px;
  background: #405970;
  box-shadow: 0 10px 0 0 #405970, 0 20px 0 0 #405970;
}
/* line 152, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-menu {
  list-style: outside none none;
  margin: 0;
  position: absolute;
  right: 11%;
  top: 56%;
  width: 15%;
  background: rgba(64, 89, 112, 0.6) none repeat scroll 0 0;
  z-index: 10;
}
/* line 161, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-menu li {
  padding-top: 10px;
  padding-left: 5px;
}
/* line 164, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-menu li a {
  color: #f3f3f3;
}
/* line 169, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-menu {
  display: none;
}
/* line 174, ../sass/custom/_header.scss */
.site .secondary-menu {
  width: 100%;
}
/* line 176, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo {
  width: 100%;
  padding-bottom: 45px;
}
/* line 180, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li {
  float: left;
  width: 25%;
  list-style: none;
}
/* line 184, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li img {
  height: 60px;
  width: 60px;
}
/* line 189, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(1) {
  text-align: right;
}
/* line 192, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(2) {
  text-align: center;
}
/* line 195, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(3) {
  width: 15%;
}

/* line 1, ../sass/custom/_footer.scss */
.site-footer {
  clear: both;
  width: 94% !important;
  margin: 0 auto;
  background-color: #D9D9D2;
  padding: 0 !important;
}
/* line 7, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 15px !important;
}
/* line 12, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container {
  width: 100% !important;
}
/* line 14, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container h3 {
  font-size: 24px;
  color: #405970;
}
/* line 18, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .support-title {
  float: left !important;
  width: 55% !important;
  padding-left: 25px;
}
/* line 23, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia {
  clear: both;
  width: 45%;
  display: inline-flex;
}
/* line 27, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia h3 {
  padding-right: 46px;
}
/* line 30, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia a {
  padding-left: 20px;
}
/* line 33, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia img {
  height: 40px;
  width: 40px;
}
/* line 41, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container {
  width: 100%;
  padding-top: 20px;
}
/* line 44, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-left {
  width: 47%;
  float: left;
  padding-left: 25px;
}
/* line 48, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-left p {
  font-size: 16px !important;
  color: #49647e;
}
/* line 54, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right {
  width: 53%;
  display: inline-block;
}
/* line 60, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right ul li a {
  font-size: 16px;
  color: #49647e;
}
/* line 68, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right .footer-nav li {
  display: inline;
}

/* line 3, ../sass/custom/_projects.scss */
body.home .content-area {
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  float: none !important;
}
/* line 8, ../sass/custom/_projects.scss */
body.home .content-area .entry-header {
  display: none !important;
}
/* line 11, ../sass/custom/_projects.scss */
body.home .content-area .site-main {
  margin-bottom: 0 !important;
}
/* line 13, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content {
  font-family: Gotham-Book !important;
}
/* line 15, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text {
  width: 100%;
}
/* line 17, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .share-description {
  text-align: center;
  width: 100%;
  color: #49647e;
  font-size: 26px;
}
/* line 25, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .home_connect {
  padding-top: 30px;
  text-align: center;
}
/* line 28, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .home_connect h3 {
  color: #49647e;
  font-size: 36px;
}
/* line 33, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .featured_project_text {
  text-align: center;
  width: 100%;
}
/* line 37, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .featured_project_text h4 {
  font-size: 36px !important;
  color: #405970;
  font-family: Gotham-Book !important;
}
/* line 44, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery .ngg-template-caption {
  margin-left: 12%;
}
/* line 47, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery .ngg-template-caption .ngg-galleryoverview .slideshowlink {
  display: none !important;
}
/* line 50, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery .ngg-template-caption .ngg-galleryoverview .ngg-gallery-thumbnail-box {
  margin-right: 4% !important;
}
/* line 52, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery .ngg-template-caption .ngg-galleryoverview .ngg-gallery-thumbnail-box .ngg-gallery-thumbnail {
  height: 200px !important;
  border: none !important;
  border-radius: 15px;
}
/* line 56, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery .ngg-template-caption .ngg-galleryoverview .ngg-gallery-thumbnail-box .ngg-gallery-thumbnail span {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  border-radius: 5px;
  color: #f3f3f3;
  margin-left: 11px;
  width: 90%;
}
/* line 69, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form {
  width: 100%;
  padding-left: 170px;
}
/* line 72, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_heading {
  text-align: center;
  width: 80%;
}
/* line 75, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_heading h3 {
  font-size: 36px;
  color: #405970;
}
/* line 80, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body {
  width: 100%;
}
/* line 82, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 {
  width: 100% !important;
}
/* line 84, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_10 {
  width: 80% !important;
  text-align: center;
  background-color: #f3f3f3;
}
/* line 89, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 {
  margin-top: 20px;
}
/* line 91, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 label {
  display: none !important;
}
/* line 94, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 .ginput_container {
  width: 100%;
  padding-bottom: 5px;
}
/* line 97, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 107, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 label {
  display: none !important;
}
/* line 110, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 .ginput_container {
  width: 100%;
}
/* line 112, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 122, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .gfield_required {
  display: none !important;
}
/* line 125, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container {
  width: 100%;
}
/* line 127, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
}
/* line 133, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li {
  float: left;
  width: 35%;
  padding-left: 15px !important;
}
/* line 137, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li input {
  margin: 0 !important;
  zoom: 2 !important;
}
/* line 142, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li label {
  font-size: 24px;
  padding-left: 18px;
  color: #405970;
}
/* line 150, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container_checkbox input[type="checkbox"] {
  display: none;
}
/* line 153, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container_checkbox label {
  position: relative;
}
/* line 155, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container_checkbox label:after {
  content: "";
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -20px;
  text-align: right;
}
/* line 168, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container_checkbox input[type="checkbox"]:checked + label:after {
  content: "\2713";
  line-height: 25px;
}
/* line 174, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 {
  padding-top: 6px;
}
/* line 176, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 label {
  width: 30%;
  float: left;
  display: inline-block;
  color: #405970;
  font-size: 24px;
  font-family: Gotham-Book;
  font-weight: 100;
}
/* line 186, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day {
  width: 15%;
  padding-bottom: 4px !important;
  font-size: 24px !important;
}
/* line 191, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 198, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day label {
  display: none;
}
/* line 202, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month {
  width: 15%;
  padding-bottom: 24px !important;
  font-size: 24px !important;
}
/* line 207, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 214, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month label {
  display: none;
}
/* line 218, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year {
  width: 20% !important;
  padding-bottom: 24px !important;
  font-size: 24px !important;
}
/* line 223, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year input {
  width: 60% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 230, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year label {
  display: none;
}
/* line 236, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 {
  padding-top: 5px;
}
/* line 238, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_right {
  padding-top: 8px;
  margin: 0 !important;
}
/* line 241, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_right input {
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 248, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .gfield_label {
  display: none;
}
/* line 251, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex {
  width: 100% !important;
}
/* line 253, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span {
  width: 100%;
}
/* line 255, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span input {
  width: 80% !important;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 262, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span label {
  display: none;
}
/* line 269, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_7 {
  font-size: 18px;
  letter-spacing: 0.3px;
  color: #405970;
  margin-top: 30px !important;
}
/* line 277, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_footer.top_label {
  width: 80%;
  text-align: center;
  padding: 0;
}
/* line 281, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_footer.top_label .gform_button.button {
  background: #49647E;
  border-radius: 25px;
  font-size: 18px !important;
  width: 23%;
  padding: 10px;
}

/* css for activity page */
/* line 296, ../sass/custom/_projects.scss */
.page-template-activity-php {
  font-family: Gotham-book;
}
/* line 298, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container {
  display: none;
}
/* line 300, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .description {
  margin: 0 auto;
  width: 80%;
  line-height: 1.2;
}
/* line 305, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .description h3 {
  color: #f3f3f3;
  font-size: 18px;
  padding-top: 3px;
}
/* line 310, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .description p {
  background-color: #d9d9d2;
  color: #40597e;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
  border-radius: 5px;
}
/* line 319, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .role-description {
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  line-height: 1.2;
  position: relative;
  top: 10px;
}
/* line 326, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .role-description h3 {
  color: #f3f3f3;
  font-size: 18px;
  padding-top: 3px;
}
/* line 331, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .role-description p {
  border-radius: 5px;
  background-color: #d9d9d2;
  color: #40597e;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}
/* line 340, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .facilities {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 344, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .facilities h3 {
  color: #f3f3f3 !important;
  font-size: 18px;
  padding: 0 !important;
  padding-top: 3px;
  width: 35%;
  float: left;
}
/* line 352, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .facilities p {
  color: #f3f3f3;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
  padding: 0 !important;
  line-height: 2.3;
}
/* line 361, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .contact-details {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 365, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .contact-details h3 {
  color: #f3f3f3 !important;
  font-size: 18px;
  padding: 0 !important;
  padding-top: 3px;
  width: 30%;
  float: left;
}
/* line 374, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .contact-details p:nth-child(2) {
  width: 60% !important;
  float: left;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 5px;
  text-align: center;
  margin-left: 52px;
  color: #40597e;
  font-family: 14px;
}
/* line 384, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .contact-details p:nth-child(3) {
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 5px;
  clear: both;
  float: left;
  margin-left: 35%;
  text-align: center;
  width: 20%;
  color: #40597e;
  font-family: 14px;
}
/* line 395, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container .contact-details p:nth-child(4) {
  display: inline-flex;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 5px;
  clear: both;
  text-align: center;
  margin-left: 5%;
  text-align: center;
  width: 38%;
  color: #40597e;
  padding-left: 70px;
  font-family: 14px;
}
/* line 410, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area {
  width: 100%;
  float: none;
  margin: 0;
  margin-top: 30px !important;
}
/* line 415, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main {
  width: 100%;
  margin: 0 auto;
}
/* line 418, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main {
  padding-top: 75px;
  width: 100%;
  background-color: #405970;
  margin-bottom: 30px;
}
/* line 423, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .header_image {
  width: 30%;
  height: 210px;
  float: left;
  padding-left: 75px;
}
/* line 428, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .header_image img {
  height: 210px;
  width: 210px;
}
/* line 433, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc {
  width: 62%;
  float: right;
  padding-top: 30px;
}
/* line 437, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p:nth-child(1) {
  font-size: 36px;
  color: #f3f3f3;
}
/* line 441, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p {
  margin: 0;
  color: #f3f3f3;
}
/* line 446, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p:nth-child(4) {
  float: left;
}
/* line 449, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p:nth-child(5) {
  margin-left: 50%;
}
/* line 452, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p:nth-child(6) {
  float: left;
}
/* line 455, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .activity-desc p:nth-child(7) {
  margin-left: 50%;
}
/* line 459, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .project-img {
  clear: both;
  padding-top: 85px;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}
/* line 465, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .project-img img {
  height: 145px;
  padding-left: 20px;
  width: 159px;
}
/* line 471, ../sass/custom/_projects.scss */
.page-template-activity-php .content-area .site-main .activity-main .moreshow {
  background: #d9d9d2;
  padding: 14px 45.2%;
  font-size: 16px;
  color: #49647e;
  font-family: Gotham-Book !important;
}

/* css for add project page */
/* line 484, ../sass/custom/_projects.scss */
.page-id-104 .site-content {
  width: 100% !important;
}
/* line 486, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area {
  width: 100%;
  padding-top: 32px !important;
  float: none !important;
  margin: 0 !important;
}
/* line 491, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main {
  width: 100%;
  background: #405970;
  margin-bottom: 3.5em;
}
/* line 495, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-header {
  text-align: center;
}
/* line 497, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-header h1 {
  font-size: 24px !important;
  font-family: Gotham-Book !important;
  color: #f3f3f3;
  padding-top: 35px;
}
/* line 505, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content .add-project-add-logo {
  left: 33%;
  position: absolute;
  top: 25px;
  width: 5%;
}
/* line 511, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content .gform_wrapper {
  max-width: 100% !important;
  margin: 0;
}
/* line 515, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form {
  width: 70%;
  margin: 0 auto;
}
/* line 520, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 {
  display: inline-block;
  float: left;
  width: 30%;
}
/* line 524, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 .ginput_container_post_image {
  display: none;
}
/* line 527, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 label {
  background: #d9d9d2;
  padding: 78px 26px;
  border-radius: 10px;
  color: #49647e;
  font-size: 20px;
  font-weight: 100;
}
/* line 539, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 {
  display: inline-flex;
  width: 70%;
}
/* line 542, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 label {
  display: none;
}
/* line 545, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 549, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 558, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 {
  display: inline-flex;
  width: 70%;
}
/* line 561, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 label {
  display: none;
}
/* line 564, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 568, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 577, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 {
  display: inline-flex;
  width: 70%;
}
/* line 580, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 label {
  display: none;
}
/* line 583, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 587, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 596, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_28 {
  display: inline-flex;
  width: 70%;
}
/* line 599, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_28 label {
  display: none;
}
/* line 602, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_28 .ginput_container_select {
  text-align: right;
  width: 100% !important;
}
/* line 605, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_28 .ginput_container_select select {
  -moz-appearance: none;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 5px;
  color: blue;
  font-family: Gotham-Book !important;
  font-size: 24px !important;
  width: 80% !important;
  color: #405970;
  text-align: center;
}
/* line 619, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_29 {
  display: inline-flex;
  width: 70%;
}
/* line 622, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_29 label {
  display: none;
}
/* line 625, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_29 .ginput_container_select {
  text-align: right;
  width: 100% !important;
}
/* line 628, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_29 .ginput_container_select select {
  -moz-appearance: none;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 5px;
  color: blue;
  font-family: Gotham-Book !important;
  font-size: 24px !important;
  width: 80% !important;
  color: #405970;
  text-align: center;
}
/* line 642, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_30 {
  display: inline-flex;
  width: 70%;
}
/* line 645, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_30 label {
  display: none;
}
/* line 648, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_30 .ginput_container_select {
  text-align: right;
  width: 100% !important;
}
/* line 651, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_30 .ginput_container_select select {
  -moz-appearance: none;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 5px;
  color: blue;
  font-family: Gotham-Book !important;
  font-size: 24px !important;
  width: 80% !important;
  color: #405970;
  text-align: center;
}
/* line 665, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_31 {
  width: 70%;
  display: inline-flex;
}
/* line 668, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_31 label {
  display: none;
}
/* line 671, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_31 .ginput_container_text {
  text-align: right;
  width: 100% !important;
  padding-top: 10px;
}
/* line 675, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_31 .ginput_container_text input {
  width: 80% !important;
  border-radius: 5px;
  background-color: #d9d9d2;
  font-size: 18px;
  color: #405970;
  text-align: center;
  line-height: 1.6;
}
/* line 686, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 {
  width: 100%;
  padding-bottom: 10px;
}
/* line 689, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 label {
  display: none;
}
/* line 692, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 696, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 706, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 {
  display: inline-flex;
  padding-left: 15px;
}
/* line 709, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 label {
  font-weight: 100 !important;
  font-size: 18px;
  color: #f3f3f3;
}
/* line 714, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 .ginput_container_date {
  padding-left: 10px;
}
/* line 716, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 .ginput_container_date input {
  width: 50%;
  background-color: #d9d9d2;
  border-radius: 5px;
}
/* line 723, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_20 {
  width: 25%;
  float: left;
  font-size: 18px;
  color: #f3f3f3;
  margin-top: 7px;
  margin-left: 50px !important;
}
/* line 731, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 {
  display: inline-flex;
  padding-left: 25px;
}
/* line 735, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 label {
  font-size: 18px;
  color: #f3f3f3;
  font-weight: 100;
}
/* line 740, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 .ginput_container {
  padding-left: 25px;
}
/* line 742, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 .ginput_container input {
  width: 25px;
  background-color: #d9d9d2;
  border-radius: 5px;
}
/* line 750, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 {
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
}
/* line 754, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 label {
  font-size: 18px;
  font-weight: 100 !important;
  color: #f3f3f3;
}
/* line 759, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 .ginput_container {
  display: inline-flex;
  padding-left: 127px;
  width: 59%;
}
/* line 763, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 .ginput_container input {
  background-color: #d9d9d2;
  border-radius: 5px;
}
/* line 769, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 {
  padding-top: 10px;
  padding-left: 50px;
}
/* line 772, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 label {
  font-size: 18px;
  font-weight: 100 !important;
  color: #f3f3f3;
  float: left;
}
/* line 778, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container {
  display: inline-flex !important;
  padding-left: 55px;
}
/* line 782, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li {
  display: inline-flex;
  padding-left: 75px;
}
/* line 785, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li input {
  margin-right: 0;
}
/* line 788, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li label {
  margin: 0 !important;
}
/* line 791, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li #label_7_9_1 {
  padding-right: 26px;
}
/* line 794, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li #label_7_9_2 {
  padding-right: 26px;
}
/* line 802, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 {
  width: 100%;
}
/* line 804, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 label {
  display: none;
}
/* line 807, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 textarea {
  width: 100% !important;
  background-color: #d9d9d2;
  font-size: 18px;
  font-weight: 100 !important;
  border-radius: 10px;
  height: 100px !important;
}
/* line 816, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 {
  width: 100%;
  padding-top: 10px;
}
/* line 819, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 label {
  display: none;
}
/* line 822, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 textarea {
  width: 100% !important;
  background-color: #d9d9d2;
  font-size: 18px;
  font-weight: 100 !important;
  border-radius: 10px;
  height: 100px !important;
}
/* line 831, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_23 {
  padding-left: 50px;
  color: #f3f3f3;
  font-size: 18px;
  width: 40%;
  float: left;
  margin-top: 10px;
}
/* line 840, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 {
  width: 60%;
  display: inline-flex;
  margin-top: 10px;
}
/* line 844, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 label {
  display: none;
}
/* line 847, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 .ginput_container {
  width: 100%;
}
/* line 849, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 .ginput_container input {
  width: 100% !important;
  border-radius: 5px !important;
  background-color: #d9d9d2;
  text-align: center;
}
/* line 858, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 {
  padding-left: 140px;
  float: left;
  text-align: right !important;
  margin-top: 10px;
  padding-bottom: 30px;
  margin-left: 21px !important;
}
/* line 866, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 label {
  display: none;
}
/* line 869, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 input {
  border-radius: 5px !important;
  background-color: #d9d9d2;
  text-align: center;
}
/* line 875, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 {
  width: 46%;
  padding-bottom: 30px;
  display: inline-flex;
  margin-top: 10px;
}
/* line 880, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 label {
  display: none;
}
/* line 883, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 .ginput_container {
  width: 100%;
  text-align: right;
}
/* line 886, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 .ginput_container input {
  width: 90%;
  border-radius: 5px !important;
  background-color: #d9d9d2;
  text-align: center;
}
/* line 894, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_24 {
  font-size: 18px !important;
  color: #f3f3f3;
  float: left;
  padding-left: 50px;
}
/* line 901, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_15 {
  display: inline-flex;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 18px;
  height: 90px;
  line-height: 5 !important;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 40px !important;
}
/* line 913, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_15 label {
  color: #405970;
  padding-top: 10px;
  font-family: Gotham-book;
}
/* line 918, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_15 .ginput_container {
  display: none;
}
/* line 922, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_16 {
  padding-top: 10px;
  font-family: Gotham-book;
  display: inline-flex;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 18px;
  height: 90px;
  line-height: 5 !important;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 15px !important;
}
/* line 935, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_16 label {
  color: #405970;
}
/* line 938, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_16 .ginput_container {
  display: none;
}
/* line 942, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_17 {
  padding-top: 10px;
  font-family: Gotham-book;
  display: inline-flex;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 18px;
  height: 90px;
  line-height: 5 !important;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 15px !important;
}
/* line 955, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_17 label {
  color: #405970;
}
/* line 958, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_17 .ginput_container {
  display: none;
}
/* line 962, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_18 {
  padding-top: 10px;
  font-family: Gotham-book;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 18px;
  height: 90px;
  line-height: 5 !important;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 15px !important;
  display: inline-flex;
}
/* line 975, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_18 label {
  color: #405970;
}
/* line 979, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_18 .ginput_container {
  display: none;
}
/* line 983, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_19 {
  padding-top: 10px;
  font-family: Gotham-book;
  background: #d9d9d2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 18px;
  height: 90px;
  line-height: 5 !important;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 15px !important;
  display: inline-flex;
}
/* line 995, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_19 label {
  color: #405970;
}
/* line 999, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_19 .ginput_container {
  display: none;
}
/* line 1006, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_footer.top_label {
  left: 34%;
  position: relative;
  width: 10%;
  padding-top: 25px;
  float: left;
}
/* line 1014, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content .add-project {
  color: #f3f3f3;
  font-family: Gotham-Book !important;
  font-size: 24px !important;
  padding-top: 50px;
  float: right;
  width: 60%;
  padding-left: 6%;
}
/* line 1024, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-footer {
  display: none;
}

/*End  css for add project page */
/* css for forget password page */
/* line 1035, ../sass/custom/_projects.scss */
.page-id-87 .content-area {
  width: 100%;
  margin: 0;
  float: none;
}
/* line 1039, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-header {
  display: none;
}
/* line 1043, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12em;
}
/* line 1047, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_heading {
  display: none;
}
/* line 1050, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body {
  width: 100%;
}
/* line 1052, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .gfield_label {
  color: #49647e;
  font-family: Gotham-Book;
  font-size: 18px;
}
/* line 1058, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex span {
  width: 100%;
  margin: 0;
}
/* line 1061, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex span input {
  width: 35%;
  font-family: Gotham-Book;
  font-size: 18px;
}
/* line 1067, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex label {
  display: none;
}
/* line 1071, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .gfield_password_strength {
  width: 35% !important;
  margin: 0 auto;
  font-size: 18px;
  font-family: Gotham-Book;
  color: #49647e;
}
/* line 1080, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_footer input {
  background: #405970 none repeat scroll 0 0;
  border-radius: 10px;
  width: 15%;
}

/*End css for forget password page */
