/**** Importing sass files ******/
@font-face {
  font-family: Gotham-Book;
  src: url("../fonts/Gotham Book.ttf");
}
/* line 6, ../sass/custom/_global.scss */
body {
  font-family: Gotham-Book !important;
  width: 1031px;
  margin: 0 auto !important;
  background: none !important;
  padding-top: 24px;
  background-color: #fff !important;
}

/* line 1, ../sass/custom/_header.scss */
.site {
  margin: 0 !important;
  background-color: #F3F3F3 !important;
  padding-top: 50px;
  padding-bottom: 60px;
}
/* line 6, ../sass/custom/_header.scss */
.site .site-header {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  background-color: #d9d9d2;
  height: 130px;
}
/* line 12, ../sass/custom/_header.scss */
.site .site-header .header-image {
  width: 20%;
  margin: 0;
  float: left;
  text-align: center;
  padding-top: 8px;
}
/* line 18, ../sass/custom/_header.scss */
.site .site-header .header-image img {
  width: 110px;
  height: 110px;
}
/* line 23, ../sass/custom/_header.scss */
.site .site-header .site-header-main {
  width: 55%;
  float: left;
}
/* line 26, ../sass/custom/_header.scss */
.site .site-header .site-header-main .main-navigation a {
  font-size: 25px !important;
  line-height: 1.7;
  font-family: Gotham-Book !important;
}
/* line 33, ../sass/custom/_header.scss */
.site .site-header .stl_login {
  display: inline-flex !important;
  width: 25% !important;
}
/* line 37, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-trigger {
  font-size: 25px;
  margin-top: 32px;
  padding-left: 33px;
  line-height: 2.7;
}
/* line 44, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content {
  position: absolute !important;
  z-index: 10;
}
/* line 47, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content .forgot-password {
  position: absolute;
  top: 120px;
  padding-left: 42px;
  font-size: 12px !important;
}
/* line 54, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form {
  padding-left: 25px;
  width: 86% !important;
}
/* line 58, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username {
  margin-bottom: 24px !important;
  padding-top: 8px !important;
  width: 75%;
}
/* line 62, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username label {
  display: none !important;
}
/* line 65, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-username input {
  padding: 0px !important;
  width: !important;
  background: #d9d9d9 none repeat scroll 0 0;
  border-color: #49647e;
}
/* line 72, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password {
  margin-bottom: 5px;
}
/* line 74, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password label {
  display: none !important;
}
/* line 77, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-password input {
  padding: 0px !important;
  width: 75% !important;
  border-color: #49647e;
}
/* line 84, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-remember lebel {
  font-size: 14px !important;
}
/* line 90, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-submit {
  padding-left: 15px;
  padding-top: 4px;
}
/* line 93, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-content form .login-submit .button-primary {
  height: 30px;
  line-height: 0 !important;
  width: 125px;
  border-radius: 18px;
  background-color: #49647e;
}
/* line 104, ../sass/custom/_header.scss */
.site .site-header .stl_login .box-shadow-menu {
  position: relative;
  height: 30px;
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
}
/* line 114, ../sass/custom/_header.scss */
.site .site-header .stl_login .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 35px;
  height: 4px;
  background: black;
  box-shadow: 0 10px 0 0 black, 0 20px 0 0 black;
}
/* line 126, ../sass/custom/_header.scss */
.site .site-header .stl_login .login-menu {
  display: none;
}
/* line 131, ../sass/custom/_header.scss */
.site .secondary-menu {
  width: 100%;
}
/* line 133, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo {
  width: 100%;
  padding-bottom: 45px;
}
/* line 137, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li {
  float: left;
  width: 25%;
  list-style: none;
}
/* line 141, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li img {
  height: 60px;
  width: 60px;
}
/* line 146, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(1) {
  text-align: right;
}
/* line 149, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(2) {
  text-align: center;
}
/* line 152, ../sass/custom/_header.scss */
.site .secondary-menu .secondary-menu-logo ul li:nth-child(3) {
  width: 15%;
}

/* line 1, ../sass/custom/_footer.scss */
.site-footer {
  clear: both;
  width: 94% !important;
  margin: 0 auto;
  background-color: #D9D9D2;
  padding: 0 !important;
}
/* line 7, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 15px !important;
}
/* line 12, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container {
  width: 100% !important;
}
/* line 14, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container h3 {
  font-size: 24px;
  color: #405970;
}
/* line 18, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .support-title {
  float: left !important;
  width: 55% !important;
  padding-left: 25px;
}
/* line 23, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia {
  clear: both;
  width: 45%;
  display: inline-flex;
}
/* line 27, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia h3 {
  padding-right: 46px;
}
/* line 30, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia a {
  padding-left: 20px;
}
/* line 33, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .support.container .socialmedia img {
  height: 40px;
  width: 40px;
}
/* line 40, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container {
  width: 100%;
  padding-top: 20px;
}
/* line 43, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-left {
  width: 47%;
  float: left;
  padding-left: 25px;
}
/* line 47, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-left p {
  font-size: 16px !important;
  color: #49647e;
}
/* line 53, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right {
  width: 53%;
  display: inline-block;
}
/* line 59, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right ul li a {
  font-size: 16px;
  color: #49647e;
}
/* line 67, ../sass/custom/_footer.scss */
.site-footer .footer-wrapper .footer.container .footer-right .footer-nav li {
  display: inline;
}

/* line 3, ../sass/custom/_projects.scss */
body.home .content-area {
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  float: none !important;
}
/* line 8, ../sass/custom/_projects.scss */
body.home .content-area .entry-header {
  display: none !important;
}
/* line 11, ../sass/custom/_projects.scss */
body.home .content-area .site-main {
  margin-bottom: 0 !important;
}
/* line 13, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content {
  font-family: Gotham-Book !important;
}
/* line 15, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text {
  width: 100%;
}
/* line 17, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .share-description {
  text-align: center;
  width: 100%;
}
/* line 21, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .share-description span {
  color: #49647e;
  font-size: 26px;
}
/* line 26, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .home_connect {
  padding-top: 30px;
  text-align: center;
}
/* line 29, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .home_connect h3 {
  color: #49647e;
  font-size: 36px;
}
/* line 34, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .featured_project_text {
  text-align: center;
  width: 100%;
}
/* line 38, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .featured_project_text h4 {
  font-size: 36px !important;
  color: #405970;
  font-family: Gotham-Book !important;
}
/* line 45, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery ul {
  background-color: #f3f3f3 !important;
  box-shadow: none !important;
}
/* line 48, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery ul li {
  border: 1px solid #405970;
  height: 150px !important;
  max-width: 150px !important;
  margin: 3px !important;
}
/* line 53, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content .home_text .img_gallery ul li img {
  border: none !important;
  height: 150px !important;
  max-width: 150px !important;
}
/* line 63, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form {
  width: 100%;
  padding-left: 170px;
}
/* line 66, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_heading {
  text-align: center;
  width: 80%;
}
/* line 69, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_heading h3 {
  font-size: 36px;
  color: #405970;
}
/* line 74, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body {
  width: 100%;
}
/* line 76, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 {
  width: 100% !important;
}
/* line 78, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_10 {
  width: 80% !important;
  text-align: center;
  background-color: #f3f3f3;
}
/* line 83, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 {
  margin-top: 20px;
}
/* line 85, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 label {
  display: none !important;
}
/* line 88, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 .ginput_container {
  width: 100%;
  padding-bottom: 5px;
}
/* line 91, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_1 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 101, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 label {
  display: none !important;
}
/* line 104, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 .ginput_container {
  width: 100%;
}
/* line 106, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_2 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 116, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .gfield_required {
  display: none !important;
}
/* line 119, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container {
  width: 100%;
}
/* line 121, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container input {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
}
/* line 127, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li {
  float: left;
  width: 35%;
  padding-left: 15px !important;
}
/* line 131, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li input {
  margin: 0 !important;
  zoom: 2 !important;
}
/* line 136, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_3 .ginput_container li label {
  font-size: 24px;
  padding-left: 18px;
  color: #405970;
}
/* line 144, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 {
  padding-top: 6px;
}
/* line 146, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 label {
  width: 30%;
  float: left;
  display: inline-block;
  color: #405970;
  font-size: 24px;
  font-family: Gotham-Book;
  font-weight: 100;
}
/* line 156, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day {
  width: 15%;
  padding-bottom: 4px !important;
  font-size: 24px !important;
}
/* line 161, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 168, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day label {
  display: none;
}
/* line 172, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month {
  width: 15%;
  padding-bottom: 24px !important;
  font-size: 24px !important;
}
/* line 177, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 184, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month label {
  display: none;
}
/* line 188, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year {
  width: 20% !important;
  padding-bottom: 24px !important;
  font-size: 24px !important;
}
/* line 193, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year input {
  width: 60% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
  color: #405970;
}
/* line 200, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year label {
  display: none;
}
/* line 206, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 {
  padding-top: 5px;
}
/* line 208, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_right {
  padding-top: 8px;
  margin: 0 !important;
}
/* line 211, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_right input {
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 218, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .gfield_label {
  display: none;
}
/* line 221, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex {
  width: 100% !important;
}
/* line 223, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span {
  width: 100%;
}
/* line 225, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span input {
  width: 80% !important;
  font-size: 24px;
  line-height: 1;
  padding-left: 12px;
  color: #405970;
}
/* line 232, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_9 .ginput_complex span label {
  display: none;
}
/* line 239, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_body #gform_fields_2 #field_2_7 {
  font-size: 18px;
  letter-spacing: 0.3px;
  color: #405970;
  margin-top: 30px !important;
}
/* line 247, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_footer.top_label {
  width: 80%;
  text-align: center;
  padding: 0;
}
/* line 251, ../sass/custom/_projects.scss */
body.home .content-area .site-main .entry-content form .gform_footer.top_label .gform_button.button {
  background: #49647E;
  border-radius: 25px;
  font-size: 18px !important;
  width: 23%;
  padding: 10px;
}

/* css for activity page */
/* line 267, ../sass/custom/_projects.scss */
.page-template-activity-php .toggle-container {
  display: none;
}

/* css for add project page */
/* line 273, ../sass/custom/_projects.scss */
.page-id-104 .site-content {
  width: 100% !important;
}
/* line 275, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area {
  width: 100%;
  padding-top: 60px !important;
  float: none !important;
  margin: 0 !important;
}
/* line 280, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main {
  width: 100%;
  background: #405970;
}
/* line 283, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-header {
  text-align: center;
}
/* line 285, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-header h1 {
  font-size: 24px !important;
  font-family: Gotham-Book !important;
  color: #f3f3f3;
  padding-top: 35px;
}
/* line 293, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content .gform_wrapper {
  max-width: 100% !important;
  margin: 0;
}
/* line 297, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form {
  width: 70%;
  margin: 0 auto;
}
/* line 302, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 {
  display: inline-block;
  float: left;
  width: 30%;
}
/* line 306, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 .ginput_container_post_image {
  display: none;
}
/* line 309, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_1 label {
  background: #d9d9d2;
  padding: 78px 26px;
  border-radius: 10px;
  color: #49647e;
  font-size: 20px;
  font-weight: 100;
}
/* line 321, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 {
  display: inline-flex;
  width: 70%;
}
/* line 324, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 label {
  display: none;
}
/* line 327, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 331, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_2 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 340, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 {
  display: inline-flex;
  width: 70%;
}
/* line 343, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 label {
  display: none;
}
/* line 346, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 350, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_3 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 359, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 {
  display: inline-flex;
  width: 70%;
}
/* line 362, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 label {
  display: none;
}
/* line 365, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 369, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_4 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 378, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 {
  display: inline-flex;
  width: 70%;
  padding-bottom: 10px;
}
/* line 382, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 label {
  display: none;
}
/* line 385, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 .ginput_container {
  width: 100% !important;
  text-align: right;
  padding-bottom: 10px;
}
/* line 389, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_21 .ginput_container input {
  width: 365px !important;
  background: #d9d9d2 none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  font-size: 24px !important;
  text-align: center;
}
/* line 399, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 {
  display: inline-flex;
  padding-left: 15px;
}
/* line 402, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 label {
  font-weight: 100 !important;
  font-size: 18px;
  color: #f3f3f3;
}
/* line 407, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 .ginput_container_date {
  padding-left: 10px;
}
/* line 409, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_6 .ginput_container_date input {
  width: 50%;
  background-color: #d9d9d2;
}
/* line 415, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_20 {
  width: 25%;
  float: left;
  font-size: 18px;
  color: #f3f3f3;
  margin-top: 7px;
  margin-left: 90px !important;
}
/* line 423, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 {
  display: inline-flex;
  padding-left: 25px;
}
/* line 427, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 label {
  font-size: 18px;
  color: #f3f3f3;
  font-weight: 100;
}
/* line 432, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 .ginput_container {
  padding-left: 25px;
}
/* line 434, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_7 .ginput_container input {
  width: 25px;
  background-color: #d9d9d2;
}
/* line 441, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 {
  width: 100%;
  padding-top: 10px;
  padding-left: 90px;
}
/* line 445, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 label {
  font-size: 18px;
  font-weight: 100 !important;
  color: #f3f3f3;
}
/* line 450, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 .ginput_container {
  display: inline-flex;
  padding-left: 148px;
  width: 66%;
}
/* line 454, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_8 .ginput_container input {
  background-color: #d9d9d2;
}
/* line 459, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 {
  padding-top: 10px;
  padding-left: 90px;
}
/* line 462, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 label {
  font-size: 18px;
  font-weight: 100 !important;
  color: #f3f3f3;
  float: left;
}
/* line 468, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container {
  display: inline-flex !important;
  padding-left: 75px;
}
/* line 472, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li {
  display: inline-flex;
  padding-left: 75px;
}
/* line 475, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_9 .ginput_container ul li label {
  margin: 0 !important;
}
/* line 483, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 {
  width: 100%;
}
/* line 485, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 label {
  display: none;
}
/* line 488, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_22 textarea {
  width: 100% !important;
  background-color: #d9d9d2;
  font-size: 18px;
  font-weight: 100 !important;
  border-radius: 10px;
  height: 100px !important;
}
/* line 497, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 {
  width: 100%;
  padding-top: 10px;
}
/* line 500, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 label {
  display: none;
}
/* line 503, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_11 textarea {
  width: 100% !important;
  background-color: #d9d9d2;
  font-size: 18px;
  font-weight: 100 !important;
  border-radius: 10px;
  height: 100px !important;
}
/* line 512, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_23 {
  padding-left: 90px;
  color: #f3f3f3;
  font-size: 18px;
  width: 40%;
  float: left;
  margin-top: 10px;
}
/* line 521, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 {
  width: 60%;
  display: inline-flex;
  margin-top: 10px;
}
/* line 525, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 label {
  display: none;
}
/* line 528, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 .ginput_container {
  width: 100%;
}
/* line 530, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_12 .ginput_container input {
  width: 100% !important;
  border-radius: 5px !important;
  background-color: #d9d9d2;
}
/* line 538, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 {
  padding-left: 140px;
  float: left;
  text-align: right !important;
  margin-top: 10px;
}
/* line 543, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 label {
  display: none;
}
/* line 546, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_13 input {
  border-radius: 5px !important;
  background-color: #d9d9d2;
}
/* line 551, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 {
  width: 42%;
  display: inline-flex;
  margin-top: 10px;
}
/* line 556, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 label {
  display: none;
}
/* line 559, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 .ginput_container {
  width: 100%;
  text-align: right;
}
/* line 562, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_14 .ginput_container input {
  width: 90%;
  border-radius: 5px !important;
  background-color: #d9d9d2;
}
/* line 569, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_24 {
  font-size: 18px !important;
  color: #f3f3f3;
  float: left;
}
/* line 575, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_15 {
  display: inline-flex;
}
/* line 577, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_15 .ginput_container {
  display: none;
}
/* line 581, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_16 {
  display: inline-flex;
}
/* line 583, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_16 .ginput_container {
  display: none;
}
/* line 587, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_17 {
  display: inline-flex;
}
/* line 589, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_17 .ginput_container {
  display: none;
}
/* line 593, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_18 {
  display: inline-flex;
}
/* line 595, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_18 .ginput_container {
  display: none;
}
/* line 599, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_19 {
  display: inline-flex;
}
/* line 601, ../sass/custom/_projects.scss */
.page-id-104 .site-content .content-area .site-main .entry-content form .gform_body ul #field_7_19 .ginput_container {
  display: none;
}

/*End  css for add project page */
/* css for forget password page */
/* line 617, ../sass/custom/_projects.scss */
.page-id-87 .content-area {
  width: 100%;
  margin: 0;
  float: none;
}
/* line 621, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-header {
  display: none;
}
/* line 625, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12em;
}
/* line 629, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_heading {
  display: none;
}
/* line 632, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body {
  width: 100%;
}
/* line 634, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .gfield_label {
  color: #49647e;
  font-family: Gotham-Book;
  font-size: 18px;
}
/* line 640, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex span {
  width: 100%;
  margin: 0;
}
/* line 643, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex span input {
  width: 35%;
  font-family: Gotham-Book;
  font-size: 18px;
}
/* line 649, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .ginput_complex label {
  display: none;
}
/* line 653, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_body .gfield_password_strength {
  width: 35% !important;
  margin: 0 auto;
  font-size: 18px;
  font-family: Gotham-Book;
  color: #49647e;
}
/* line 662, ../sass/custom/_projects.scss */
.page-id-87 .content-area .entry-content form .gform_footer input {
  background: #405970 none repeat scroll 0 0;
  border-radius: 10px;
  width: 15%;
}

/*End css for forget password page */
