/**** Importing sass files ******/
@font-face {
  font-family: Gotham-Book;
  src: url("../fonts/Gotham Book.ttf");
}
/* line 6, ../sass/custom/_global.scss */
body.home {
  font-family: Gotham-Book;
  width: 1031px;
  margin: 0 auto;
  background: none !important;
}

/* line 1, ../sass/custom/_header.scss */
.home {
  padding-top: 30px;
}
/* line 3, ../sass/custom/_header.scss */
.home .site {
  background: #F3F3F3;
  margin: 0 !important;
  padding-top: 30px;
}
/* line 9, ../sass/custom/_header.scss */
.home .site .site-inner .site-header {
  background: #D9D9D2 !important;
  padding: 0 !important;
  width: 94%;
  height: 100px;
  margin: 0 auto;
}
/* line 15, ../sass/custom/_header.scss */
.home .site .site-inner .site-header .header-image {
  width: 10%;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 20, ../sass/custom/_header.scss */
.home .site .site-inner .site-header .header-image img {
  height: 85px;
  width: 85px;
}
/* line 28, ../sass/custom/_header.scss */
.home .site .site-inner .box-shadow-menu {
  position: relative;
  height: 30px;
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
}
/* line 36, ../sass/custom/_header.scss */
.home .site .site-inner .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 35px;
  height: 4px;
  background: black;
  box-shadow: 0 10px 0 0 black, 0 20px 0 0 black;
}
/* line 48, ../sass/custom/_header.scss */
.home .site .site-inner .login-menu {
  display: none;
}

/* line 2, ../sass/custom/_projects.scss */
.home .content-area {
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  float: none !important;
}
/* line 7, ../sass/custom/_projects.scss */
.home .content-area .entry-header {
  display: none !important;
}
/* line 10, ../sass/custom/_projects.scss */
.home .content-area .entry-content {
  width: 100%;
}
/* line 12, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome {
  width: 100%;
  margin: 0 !important;
}
/* line 15, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form {
  width: 100%;
}
/* line 17, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_heading {
  text-align: center !important;
}
/* line 20, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body {
  width: 100%;
}
/* line 22, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 {
  width: 100% !important;
}
/* line 25, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_1 label {
  display: none !important;
}
/* line 28, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_1 .ginput_container {
  width: 100%;
  padding-bottom: 5px;
}
/* line 31, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_1 .ginput_container input {
  width: 80%;
  font-size: 18px;
  line-height: 1;
  padding-left: 12px;
}
/* line 40, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_2 label {
  display: none !important;
}
/* line 43, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_2 .ginput_container {
  width: 100%;
}
/* line 45, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_2 .ginput_container input {
  width: 80%;
  font-size: 18px;
  line-height: 1;
  padding-left: 12px;
}
/* line 54, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .gfield_required {
  display: none !important;
}
/* line 57, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .ginput_container {
  width: 100%;
}
/* line 59, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .ginput_container input {
  width: 80%;
  font-size: 18px;
  line-height: 1;
  padding-left: 12px;
}
/* line 65, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .ginput_container li {
  float: left;
  width: 35%;
  padding-left: 15px !important;
}
/* line 69, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .ginput_container li input {
  margin: 0 !important;
  zoom: 2 !important;
}
/* line 74, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_3 .ginput_container li label {
  font-size: 18px;
  padding-left: 18px;
}
/* line 81, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 {
  padding-top: 6px;
}
/* line 83, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 label {
  width: 15%;
  float: left;
  display: inline-block;
}
/* line 89, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day {
  width: 12%;
  padding-bottom: 4px !important;
  font-size: 18px !important;
}
/* line 94, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
}
/* line 100, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_day label {
  display: none;
}
/* line 104, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month {
  width: 12%;
}
/* line 107, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month input {
  width: 65% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
}
/* line 113, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_month label {
  display: none;
}
/* line 117, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year {
  width: 20% !important;
}
/* line 120, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year input {
  width: 60% !important;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 1;
}
/* line 126, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_6 .ginput_container .gfield_date_year label {
  display: none;
}
/* line 133, ../sass/custom/_projects.scss */
.home .content-area .entry-content .gf_browser_chrome form .gform_body #gform_fields_2 #field_2_9 .ginput_right {
  display: none;
}
