@font-face {
	font-family: Gotham-Book;
	src: url("../fonts/Gotham Book.ttf");
}
	
body {
	font-family: Gotham-Book;
	width: 1031px;
	margin: 0 auto !important;
	background: none !important;
	padding-top: 24px;
	background-color: #fff !important;
	.content-area {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		float: none !important;
	}
	input {
		border: 1px solid #49647e !important;
		font-family: Gotham-Book !important
	}
}
/**mixin***/
@mixin chrome {
	@media (-webkit-min-device-pixel-ratio:0) {
		@content;
	}
}
