@font-face {
	font-family: Gotham-Book;
	src: url("../fonts/Gotham Book.ttf");
}
	
body {
	font-family: Gotham-Book;
	width: 1031px;
	margin: 0 auto !important;
	background: none !important;
	background-color: #fff !important;
	.site-content {
		padding: 0;
		.site-main {
			margin: 0 auto !important;
			width: 91% !important;
			margin-bottom: 50px !important;
		}
	}
	.content-area {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		float: none !important;
		.entry-content {
			margin: 0 !important;
		}
		.entry-header {
			margin: 0 !important;
		}
		.entry-footer {
			display: none;
		}
	}
	input {
		border: 1px solid #49647e !important;
		font-family: Gotham-Book !important
	}
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after {
	height: 0 !important;
}
/**mixin***/
@mixin chrome {
	@media (-webkit-min-device-pixel-ratio:0) {
		@content;
	}
}
