@font-face {
	font-family: Gotham-Book;
	src: url("../fonts/Gotham Book.ttf");
}

body {
	outline: none !important;
	font-family: Gotham-Book;
	width: 1031px;
	margin: 0 auto !important;
	background: none !important;
	background-color: #fff !important;
	.site-content {
		padding: 0;
		.site-main {
			width: 91% !important;
			margin: 0 auto;
		}
	}
	.content-area {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
		clear: both;
		.entry-content {
			margin: 0 !important;
		}
		.entry-header {
			margin: 0 !important;
		}
		.entry-footer {
			display: none;
		}
	}
	input {
		border: 1px solid #49647e !important;
		font-family: Gotham-Book !important
	}
}

body:not(.custom-background-image)::before, body:not(.custom-background-image)::after {
	height: 0 !important;
}

@mixin chrome {
	@media (-webkit-min-device-pixel-ratio:0) {
		@content;
	}
}
/* css for validation pages */
.validation_error {
	display: none;
}
/* css for editor */
.cke_top.cke_reset_all {
	display: none;
}
.cke_bottom.cke_reset_all {
	display: none;
}
.cke_chrome {
	border: none !important;
}
.cke_inner.cke_reset {
	border-radius: 10px;
}
.cke_contents.cke_reset {
	border-radius: 10px !important;
	height: 100px !important;
}
.toggle-container {
	.description {
		p:nth-child(2) {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		p:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
	.role-description {
		p:nth-child(2) {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		p:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
	.facilities {
		p:nth-child(2) {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		p:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}
