.site {
  margin: 0 !important;
  background-color: #F3F3F3 !important;
  padding-top: 50px;
  padding-bottom: 60px;
  .site-header {
    padding: 0;
    width: 94%;
    margin: 0 auto;
    background-color: #d9d9d2;
    height: 130px;
    .header-image {
      width: 20%;
      margin: 0;
      float: left;
      text-align: center;
      padding-top: 8px;
      img {
        width: 110px;
        height: 110px;
      }
    }
    .site-header-main {
      width: 55%;
      float: left;
      .main-navigation a {
        font-size: 25px !important;
        line-height: 1.7;
        font-family: Gotham-Book !important;
      }

    }
    .stl_login {
      display: inline-flex !important;
      width: 25% !important;
      .login-trigger {

        font-size: 25px;
        margin-top: 32px;
        padding-left: 33px;
        line-height: 2.7;
      }
      .login-content {
        position: absolute !important;
        z-index: 10;
        .forgot-password {
          position: absolute;
          top: 120px;
          padding-left: 42px;
          font-size: 12px !important;
          
        }
        form {
         padding-left: 25px;
         width: 86% !important;

         .login-username{
          margin-bottom: 24px !important;
          padding-top: 8px !important;
          width: 75%;
          label {
            display: none !important;
          }
          input {
            padding: 0px !important;
            width:  !important;
            background: #d9d9d9 none repeat scroll 0 0;
            border-color: #49647e
          }
        }
        .login-password {
          margin-bottom: 5px;
          label {
            display: none !important;
          }
          input {
            padding: 0px !important;
            width: 75% !important;
            border-color: #49647e
          }
        }
        .login-remember {
          lebel {

            font-size: 14px !important;
            
          }
        }
        .login-submit {
          padding-left: 15px;
          padding-top: 4px;
          .button-primary {
            height: 30px;
            line-height: 0 !important;
            width: 125px;
            border-radius: 18px;
            background-color: #49647e;
          }
        }
      }

    }
    .box-shadow-menu {
      position: relative;
      height: 30px;
      background: none;
      border: none;
      width: 35px;
      cursor: pointer;

    }

    .box-shadow-menu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 35px;
      height: 4px;
      background: black;
      box-shadow:
      0 10px 0 0 black,
      0 20px 0 0 black;
    }
    .login-menu{
      display: none;
    }
  }
}
}
