.home  {
	.content-area {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		float: none !important;
		.entry-header {
			display: none !important;
		}
		.entry-content {
			width: 100%;
			.gf_browser_chrome {
				width: 100%;
				margin: 0 !important;
				form {
					width: 100%;
					.gform_heading {
						text-align: center !important;
					}
					.gform_body {
						width: 100%;
						#gform_fields_2 {
							width: 100% !important;
							#field_2_1 {
								label {
									display: none !important;
								}
								.ginput_container {
									width: 100%;
									padding-bottom: 5px;
									input {
										width: 80%;
										font-size: 18px;
										line-height: 1;
										padding-left: 12px;
									}
								}
							}
							#field_2_2 {
								label {
									display: none !important;
								}
								.ginput_container {
									width: 100%;
									input {
										width: 80%;
										font-size: 18px;
										line-height: 1;
										padding-left: 12px;
									}
								}
							}
							#field_2_3 {
								.gfield_required {
									display: none !important;		
								}
								.ginput_container {
									width: 100%;
									input {
										width: 80%;
										font-size: 18px;
										line-height: 1;
										padding-left: 12px;
									}
									li {
										float: left;
										width: 35%;
										padding-left: 15px !important;
										input {
											margin: 0 !important;
											zoom: 2 !important;

										}
										label {
											font-size: 18px;
											padding-left: 18px;
										}
									}
								}
							}
							#field_2_6 {
								padding-top: 6px;
								label {
									width: 15%;
									float: left;
									display: inline-block;
								}
								.ginput_container {
									.gfield_date_day {

										width: 12%;
										padding-bottom: 4px !important;
										font-size: 18px !important;
										input {
											width: 65% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
										}
										label {
											display: none;
										}
									}
									.gfield_date_month {

										width: 12%;
										input {
											width: 65% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
										}
										label {
											display: none;
										}
									}
									.gfield_date_year {

										width: 20% !important;
										input {
											width: 60% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
										}
										label {
											display: none;
										}
									}
								}
							}
							#field_2_9 {
								.ginput_right {
									display: none;
								}
							}
						}
					}

				}

			}
		}
	}
}

