.home {
	.content-area {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		float: none !important;
		.entry-content {
			width: 100%;
			.gf_browser_gecko.gform_wrapper {
				margin: 0 auto;
				width: 100%;
				form {
					text-align: center !important;
				}
			}
		}
	}
}