body.home {
	
	.content-area {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		float: none !important;
		.entry-header {
			display: none !important;
		}
		.site-main {
			margin-bottom: 0 !important;
			.entry-content {
				font-family: Gotham-Book !important;
				.home_text {
					width: 100%;
					.share-description {

						text-align: center;
						width: 100%;
						span {
							color: #49647e;
							font-size: 26px;
						}
					}	
					.home_connect {
						padding-top: 30px;
						text-align: center;
						h3 {
							color: #49647e;
							font-size: 36px;
						}
					}
					.featured_project_text {

						text-align: center;
						width: 100%;
						h4 {
							font-size: 36px !important;
							color: #405970;
							font-family: Gotham-Book !important;
						}
					}
					.img_gallery {
						ul {
							background-color: #f3f3f3 !important;
							box-shadow: none !important;
							li {
								border: 1px solid #405970;
								height: 150px !important;
								max-width: 150px !important;
								margin: 3px !important;
								img {
									border: none !important;
									height: 150px !important;
									max-width: 150px !important;

								}
							}
						}
					}
				}
				form {
					width: 100%;
					padding-left: 170px;
					.gform_heading {
						text-align: center;
						width: 80%;
						h3 {
							font-size: 36px;
							color: #405970;
						}
					}
					.gform_body {
						width: 100%;
						#gform_fields_2 {
							width: 100% !important;
							#field_2_10 {
								width: 80% !important;
								text-align: center;
								background-color: #f3f3f3;
							}
							#field_2_1 {
								margin-top: 20px;
								label {
									display: none !important;
								}
								.ginput_container {
									width: 100%;
									padding-bottom: 5px;
									input {
										width: 80%;
										font-size: 24px;
										line-height: 1;
										padding-left: 12px;
										color: #405970;
									}
								}
							}
							#field_2_2 {
								label {
									display: none !important;
								}
								.ginput_container {
									width: 100%;
									input {
										width: 80%;
										font-size: 24px;
										line-height: 1;
										padding-left: 12px;
										color: #405970;
									}
								}
							}
							#field_2_3 {
								.gfield_required {
									display: none !important;		
								}
								.ginput_container {
									width: 100%;
									input {
										width: 80%;
										font-size: 24px;
										line-height: 1;
										padding-left: 12px;
									}
									li {
										float: left;
										width: 35%;
										padding-left: 15px !important;
										input {
											margin: 0 !important;
											zoom: 2 !important;

										}
										label {
											font-size: 24px;
											padding-left: 18px;
											color: #405970;
										}
									}
								}
							}
							#field_2_6 {
								padding-top: 6px;
								label {
									width: 30%;
									float: left;
									display: inline-block;
									color: #405970;
									font-size: 24px;
									font-family: Gotham-Book;
									font-weight: 100;
								}
								.ginput_container {
									.gfield_date_day {

										width: 15%;
										padding-bottom: 4px !important;
										font-size: 24px !important;
										input {
											width: 65% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
											color: #405970;
										}
										label {
											display: none;
										}
									}
									.gfield_date_month {

										width: 15%;
										padding-bottom: 24px !important;
										font-size: 24px !important;
										input {
											width: 65% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
											color: #405970;
										}
										label {
											display: none;
										}
									}
									.gfield_date_year {

										width: 20% !important;
										padding-bottom: 24px !important;
										font-size: 24px !important;
										input {
											width: 60% !important;
											border-radius: 12px;
											padding-left: 10px;
											line-height: 1;
											color: #405970;
										}
										label {
											display: none;
										}
									}
								}
							}
							#field_2_9 {
								padding-top: 5px;
								.ginput_right {
									padding-top: 8px;
									margin: 0 !important;
									input {
										font-size: 24px;
										line-height: 1;
										padding-left: 12px;
										color: #405970;
									}
								}
								.gfield_label {
									display: none;
								}
								.ginput_complex  {
									width: 100% !important;
									span {
										width: 100%;
										input {
											width: 80% !important;
											font-size: 24px;
											line-height: 1;
											padding-left: 12px;
											color: #405970;
										}
										label {
											display: none;
										}
									}

								}
							}
							#field_2_7 {
								font-size: 18px;
								letter-spacing: 0.3px;
								color: #405970;
								margin-top: 30px !important;
							}
						}
					}
					.gform_footer.top_label {
						width: 80%;
						text-align: center;
						padding: 0;
						.gform_button.button {
							background: #49647E;
							border-radius: 25px;
							font-size: 18px !important;
							width: 23%;
							padding: 10px;
						}
					}
				}
			}
		}
	}
	
}
/* css for activity page */
.page-template-activity-php {
	.toggle-container {
		display: none;
	}
	.content-area {
		width: 100%;
		float: none;
		margin: 0;
		margin-top: 30px !important;
		.site-main {
			width: 100%;
			margin: 0 auto;
			.activity-main {
				padding-top: 75px;
				width: 100%;
				background-color: #405970;
				margin-bottom: 30px;
				.header_image {
					width: 30%;
					height: 210px;
					float: left;
					padding-left: 75px;
					img {
						height: 210px;
						width: 210px;
					}
				}
				.activity-desc {
					width: 62%;
					float: right;
					padding-top: 30px;	
					p:nth-child(1) {
						font-size: 36px;
						color: #f3f3f3;
					}
					p {
						margin: 0;
						color: #f3f3f3;
						
					}
					p:nth-child(4) {
						float: left;
					}
					p:nth-child(5) {
						text-align: center;
					}
					p:nth-child(6) {
						float: left;
					}
					p:nth-child(7) {
						text-align: center;	
					}
				}
				.project-img {
					clear: both;
					padding-top: 140px;
					text-align: center;
					width: 100%;
					padding-bottom: 50px;
					img {
						height: 145px;
						padding-left: 20px;
						width: 159px;
					}
				}
				.show-more {
					width: 100%;
					text-align: center;
					background-color: #d9d9d2;
					height: 45px;
					line-height: 2.5;
					span {
						font-size: 18px;
						color: #49647e;
					}
				}
			} 
		}
	}
}
/* css for add project page */
.page-id-104 {
	.site-content {
		width: 100% !important;
		.content-area {
			width: 100%;
			padding-top: 60px !important;
			float: none !important;
			margin: 0 !important;
			.site-main {
				width: 100%;

				.entry-header {
					text-align: center;
					h1 {
						font-size: 24px !important;
						font-family: Gotham-Book !important;
						color: #f3f3f3;
						padding-top: 35px;
					}
				}
				.entry-content {
					.gform_wrapper {
						max-width: 100% !important;
						margin: 0;
					}
					form {
						width: 70%;
						margin: 0 auto;
						.gform_body {
							ul {
								#field_7_1 {
									display: inline-block;
									float: left;
									width: 30%;
									.ginput_container_post_image {
										display: none;
									}
									label {
										background: #d9d9d2;
										padding: 78px 26px;
										border-radius: 10px;	
										color: #49647e;
										font-size: 20px;
										font-weight: 100;
									}
								}



								#field_7_2 {
									display: inline-flex;
									width: 70%;
									label {
										display: none;;
									}
									.ginput_container {
										width: 100% !important;
										text-align: right;
										padding-bottom: 10px;
										input {
											width: 365px !important;
											background: #d9d9d2 none repeat scroll 0 0 !important;
											border-radius: 5px !important;
											font-size: 24px !important;
											text-align: center;
										}
									}
								}
								#field_7_3 {
									display: inline-flex;
									width: 70%;
									label {
										display: none;
									}
									.ginput_container {
										width: 100% !important;
										text-align: right;
										padding-bottom: 10px;
										input {
											width: 365px !important;
											background: #d9d9d2 none repeat scroll 0 0 !important;
											border-radius: 5px !important;
											font-size: 24px !important;
											text-align: center;
										}
									}
								}
								#field_7_4 {
									display: inline-flex;
									width: 70%;
									label {
										display: none;
									}
									.ginput_container {
										width: 100% !important;
										text-align: right;
										padding-bottom: 10px;
										input {
											width: 365px !important;
											background: #d9d9d2 none repeat scroll 0 0 !important;
											border-radius: 5px !important;
											font-size: 24px !important;
											text-align: center;
										}
									}
								}
								#field_7_21 {
									display: inline-flex;
									width: 70%;
									padding-bottom: 10px;
									label {
										display: none;
									}
									.ginput_container {
										width: 100% !important;
										text-align: right;
										padding-bottom: 10px;
										input {
											width: 365px !important;
											background: #d9d9d2 none repeat scroll 0 0 !important;
											border-radius: 5px !important;
											font-size: 24px !important;
											text-align: center;
										}
									}

								}
								#field_7_6 {
									display: inline-flex;
									padding-left: 15px;
									label {
										font-weight: 100 !important;
										font-size: 18px;	
										color: #f3f3f3;
									}
									.ginput_container_date {
										padding-left: 10px;
										input {
											width: 50%;
											background-color: #d9d9d2; 
										}
									}
								}
								#field_7_20 {
									width: 25%;
									float: left;
									font-size: 18px;
									color: #f3f3f3;
									margin-top: 7px;
									margin-left: 90px !important;
								}
								#field_7_7 {
									display: inline-flex;
									padding-left: 25px;

									label {
										font-size: 18px;
										color: #f3f3f3;
										font-weight: 100;
									}
									.ginput_container {
										padding-left: 25px;
										input {
											width: 25px;
											background-color: #d9d9d2;
										}
									}

								}
								#field_7_8 {
									width: 100%;
									padding-top: 10px;
									padding-left: 90px;
									label {
										font-size: 18px;
										font-weight: 100 !important;
										color: #f3f3f3;
									}
									.ginput_container {
										display: inline-flex;
										padding-left: 148px;
										width: 66%;
										input {
											background-color: #d9d9d2;
										}
									}
								}
								#field_7_9 {
									padding-top: 10px;
									padding-left: 90px;
									label {
										font-size: 18px;
										font-weight: 100 !important;
										color: #f3f3f3;
										float: left;
									}
									.ginput_container {
										display: inline-flex !important;
										padding-left: 75px;
										ul {
											li {
												display: inline-flex;
												padding-left: 75px;
												label {
													margin: 0 !important;
												}
											}
										}

									}
								}
								#field_7_22 {
									width: 100%;	
									label {
										display: none;
									}
									textarea {
										width: 100% !important;
										background-color: #d9d9d2;
										font-size: 18px;
										font-weight: 100 !important;
										border-radius: 10px;
										height: 100px !important; 
									}
								}
								#field_7_11 {
									width: 100%;
									padding-top: 10px;	
									label {
										display: none;
									}
									textarea {
										width: 100% !important;
										background-color: #d9d9d2;
										font-size: 18px;
										font-weight: 100 !important;
										border-radius: 10px;
										height: 100px !important; 
									}
								}
								#field_7_23 {
									padding-left: 90px;
									color: #f3f3f3;
									font-size: 18px;
									width: 40%;
									float: left;
									margin-top: 10px;

								}
								#field_7_12 {
									width: 60%;
									display: inline-flex;
									margin-top: 10px;
									label {
										display: none;
									}
									.ginput_container {
										width: 100%;
										input {
											width: 100% !important;
											border-radius: 5px !important;
											background-color: #d9d9d2;
										}
									}

								}
								#field_7_13 {
									padding-left: 140px;
									float: left;
									text-align: right !important;
									margin-top: 10px;
									label {
										display: none;
									}
									input {
										border-radius: 5px !important;
										background-color: #d9d9d2;
									}
								}
								#field_7_14 {
									width: 42%;
									
									display: inline-flex;
									margin-top: 10px;
									label {
										display: none;
									}
									.ginput_container {
										width: 100%;
										text-align: right;
										input {
											width: 90%;
											border-radius: 5px !important;
											background-color: #d9d9d2;
										}
									}
								}
								#field_7_24 {
									font-size: 18px !important;
									color: #f3f3f3;
									float: left;
								}
								
								#field_7_15 {
									display: inline-flex;
									.ginput_container {
										display: none;
									}
								}
								#field_7_16 {
									display: inline-flex;
									.ginput_container {
										display: none;
									}
								}
								#field_7_17 {
									display: inline-flex;
									.ginput_container {
										display: none;
									}
								}
								#field_7_18 {
									display: inline-flex;
									.ginput_container {
										display: none;
									}
								}
								#field_7_19 {
									display: inline-flex;
									.ginput_container {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*End  css for add project page */

/* css for forget password page */
.page-id-87 {
	.content-area {
		width: 100%;
		margin:	0;
		float: none;
		.entry-header {
			display: none;
		}
		.entry-content {
			form {
				text-align: center;
				padding-top: 20px;
				padding-bottom: 12em;
				.gform_heading {
					display: none;
				}
				.gform_body {
					width: 100%;
					.gfield_label {
						color: #49647e;
						font-family: Gotham-Book;
						font-size: 18px;
					}
					.ginput_complex {
						span {
							width: 100%;
							margin: 0;
							input {
								width: 35%;
								font-family: Gotham-Book;
								font-size: 18px;
							}
						}
						label {
							display: none;
						}
					}
					.gfield_password_strength {
						width: 35% !important;
						margin: 0 auto;
						font-size: 18px;
						font-family: Gotham-Book;
						color: #49647e;
					}
				}
				.gform_footer {
					input {
						background: #405970 none repeat scroll 0 0;
						border-radius: 10px;
						width: 15%;
					}
				}
			}
		}
	}
}
/*End css for forget password page */
